# *******************************************************************
# |docname| - Python requirements file for building the documentation
# *******************************************************************
CodeChat
sphinx >= 3
myst-parser
